<div class="modal-header">
    <h6 class="modal-title" id="modal-basic-title">Movie Details</h6>
    <button type="button" class="close" aria-label="Close" (click)="close()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
   
        <p>ID: {{movie.id}}</p>
        <p>Adult: {{movie.adult}}</p>
        <p>Original Language: {{movie.original_language}}</p>
        <p>Original Title: {{movie.original_title}}</p>
        <p>Overview: {{movie.overview}}</p>
        <p>Popularity: {{movie.popularity}}</p>
        <p>Release Date: {{movie.release_date}}</p>
        <p>Average: {{movie.vote_average}}</p>
        <p>Vote count: {{movie.vote_count}}</p>
        
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-sm btn-primary" (click)="close()">Close</button>
  </div>